/*OVERALL*/
* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

* {
    font-family: 'Playfair Display', serif;
}

/*NAVIGATION*/
#navigation {
    font-size: 18px;
    background-color: black;
}

.navbar-brand {
    margin: -25px;
}

.navbar-nav {

}

#logo {
    margin: 20px;
}

#links {
    text-align: right;
}

#main-nav-menu {
    justify-content: flex-end;
}
