/*OVERALL*/
* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

* {
    font-family: 'Playfair Display', serif;
}

/*NAVIGATION*/
.navbar {
    backgound-color: black;
}

#navigation {
    font-size: 17px;
    background-color: black;

}

.navbar-brand {
    margin: -25px;
}

.navbar-nav {

}

.logo {
    max-width: 10%;
}

#logo {
    margin: 10px;
    max-width: 20%;
}

#links {
    text-align: right;
}

#main-nav-menu {
    justify-content: flex-end;
}

/*CAROUSEL INNER*/
#myCarousel {
    margin-top: 0%;
}

.carousel-inner {
    max-height: 700px;
    margin-top: 0px;
    padding-top: 0px;
}

#carousel-images {
    max-height: 700px;
}
