* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#navigation {
    background-color: black;
}

.navbar {
    background: black;
}

.nav-item {
    color: white;
}

.navbar .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: white;
    background: black;
}


img {
    height: 50px;
    align-content: center;
    float: left;
}

.carousel {
    width: 80%;
    margin: 0 auto;
}

.footer {
    padding-left: 2px;
}
