* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Playfair Display', serif;
}

#navigation {
    background-color: black;
}

#myCarousel {
    margin-bottom: 30px;
}

body {
    padding-top: 50px;
}

.navbar {
    background: black;
}

.nav-item {
    color: white;
}

.navbar .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: white;
    background: black;
}

.navbar .navbar-header .icon-bar {
    color: #fff;
    z-index: 9999;
}

.nav-img {
    height: 50px;
    align-content: center;
    float: left;
}

.carousel {
    width: 80%;
    margin: 0 auto;
}

.carousel-control {
    background-image: linear-gradient(to right,rgba(0,0,0,.25) 0,rgba(0,0,0,.75) 100%);
}

h4, h3, h2 {
    font-weight: 700;
}


.footer {
    padding-left: 2px;
}

.carouselImg img {
  width: auto;
  height: 435px;
  max-height: 435px;
}

.anchor{
   display: block;
   height: 60px; /* this is the height of your header */
   margin-top: -60px; /* this is again negative value of the height of your header */
   visibility: hidden;
}
